h1 {
    display: flex;
    position: relative;
    top: 30vh;
    left: 20vh;
    font: bold 60px timesnewroman;
}

img {
    position: relative;
    width: 496px;
    height: 482px;
    border-radius: 52px;
    left: 59vw;
}